@model AroundTheWorld.Web.ViewModels.ChapterRelated.ChapterViewModel

<div class="public-chapter-details">
    <h4>@Model.Name</h4>
    <p class="public-chapter-detail"><i class="fas fa-globe-americas"></i>@Model.Location</p>
    <p class="public-chapter-detail"><i class="far fa-calendar-alt "></i>@Model.Date.ToShortDateString()</p>
    @if (string.IsNullOrWhiteSpace(Model.Image))
    {
        <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
    }
    else
    {
        <img class="card-img" src="@(Model.Image)" alt="Card image cap">
    }
</div>
<div class="public-chapter-content">
    <p>
        @Model.Content
    </p>
</div>
