@model AroundTheWorld.Web.ViewModels.DiaryRelated.EditDiaryWithChapters
<div>
    <form asp-action="SaveDiary" asp-controller="Diary" enctype="multipart/form-data">
        @Html.EditorFor(m => m.DiaryFields, "~/Views/Diary/EditorTemplates/EditDiaryFields.cshtml")
        <div class="edit-diary">
            <div class="card list-of-chapters">

                <div class="card-body card-body-public-diary card-list-of-chapters">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Chapters</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var chapter in Model.Chapters)
                            {
                                <tr>
                                    <td class="edit-chapter-item">@chapter.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="edit-diary-chapters">
                @foreach (var chapter in Model.Chapters)
                {
                    <div class="card chapter">
                        <div class="card-body card-body-public-diary ">
                            <div>
                                <h5 class="card-title">@chapter</h5>
                            </div>
                            <div class="card-img-container">
                                @if (string.IsNullOrWhiteSpace(chapter.Image))
                                {
                                    <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
                                }
                                else
                                {
                                    <img class="card-img" src="@(chapter.Image)" alt="Card image cap">
                                }
                            </div>
                            <div class="notes-from-diary">
                                <p><i>@chapter.Content</i></p>
                            </div>
                            <div class="chapter-location-date">
                                <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>@chapter.Location</p>
                                <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>@chapter.Date</p>
                            </div>

                            <div class="card-chapter-buttons">
                                <div class="delete-chapter-button">
                                    <a><i class="fas fa-trash icon-margin-right"></i></a>
                                </div>
                                <div class="edit-chapter-button">
                                    <a asp-controller="Chapter" asp-action="EditChapter"><i class="far fa-edit icon-margin-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                }

                <div class="card chapter">
                    <div class="card-body card-body-public-diary ">
                        <div>
                            <h5 class="card-title">Name of the last chapter</h5>
                        </div>
                        <div class="card-img-container">
                            <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
                        </div>
                        <div class="notes-from-diary">
                            <p><i>"Test text din jurnal, primele randuri, ar fi dragut sa apara doar trei randuri test test"</i></p>
                        </div>
                        <div class="chapter-location-date">
                            <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>Location</p>
                            <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>Date</p>
                        </div>

                        <div class="card-chapter-buttons">
                            <div class="delete-chapter-button">
                                <a><i class="fas fa-trash icon-margin-right"></i></a>
                            </div>
                            <div class="edit-chapter-button">
                                <a asp-controller="Chapter" asp-action="EditChapter"><i class="far fa-edit icon-margin-right"></i></a>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="card chapter">
                    <div class="card-body card-body-public-diary ">
                        <div>
                            <h5 class="card-title">New chapter</h5>
                        </div>
                        <div class="btn-add btn-add-chapter">
                            <a asp-controller="Chapter" asp-action="EditChapter" class="btn btn-default">
                                <i class="fas fa-plus fa-5x"></i>
                            </a>
                        </div>
                        <div class="motto-new-chapter">
                            <p><i>'The journey of a thousand miles begins with a single step.'</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>