@model AroundTheWorld.Web.ViewModels.DiaryRelated.EditDiaryWithChapters
<div>
    <form asp-action="SaveDiary" asp-controller="Diary" enctype="multipart/form-data">
        @Html.EditorFor(m => m.DiaryFields, "~/Views/Diary/EditorTemplates/EditDiaryFields.cshtml")
        <div class="edit-diary">
            
            <div class="edit-diary-chapters">
                <div class="card chapter">
                    <div class="card-body card-body-public-diary ">
                        <div>
                            <h5 class="card-title">New chapter</h5>
                        </div>
                        <div class="btn-add btn-add-chapter">
                            <a asp-controller="Chapter" asp-action="EditChapter" asp-route-diaryId="@Model.DiaryFields.Id" class="btn btn-default">
                                <i class="fas fa-plus fa-5x"></i>
                            </a>
                        </div>
                        <div class="motto-new-chapter">
                            <p><i>'The journey of a thousand miles begins with a single step.'</i></p>
                        </div>
                    </div>
                </div>

                @foreach (var chapter in Model.Chapters)
                {
                    <div class="card chapter">
                        <div class="card-body card-body-public-diary ">
                            <div>
                                <h5 class="card-title">@chapter.Name</h5>
                            </div>
                            <div class="card-img-container">
                                @if (string.IsNullOrWhiteSpace(chapter.Image))
                                {
                                    <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
                                }
                                else
                                {
                                    <img class="card-img" src="@(chapter.Image)" alt="Card image cap">
                                }
                            </div>
                            <div class="notes-from-diary">
                                <p><i>@chapter.Content</i></p>
                            </div>
                            <div class="chapter-location-date">
                                <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>@chapter.Location</p>
                                <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>@chapter.Date.ToShortDateString()</p>
                            </div>

                            <div class="card-chapter-buttons">
                                <div class="delete-chapter-button"
                                     data-chapter-id="@chapter.Id"
                                     data-toggle="modal"
                                     data-target="#deleteChapter">
                                    <a><i class="fas fa-trash icon-margin-right"></i></a>
                                </div>

                                <div class="edit-chapter-button">
                                    <a asp-controller="Chapter" asp-action="EditChapter" asp-route-id="@chapter.Id"><i class="far fa-edit icon-margin-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                }


            </div>
        </div>
    </form>
</div>

<input id="chapter-to-delete-id" type="hidden" />
<partial name="~/Views/Chapter/DeleteChapter.cshtml" />

<script>
    $(".delete-chapter-button").click(function () {
        var chapterToDeleteId = $(this).data("chapter-id");
        $("#chapter-to-delete-id").val(chapterToDeleteId);
    })
</script>